/****** Object:  Table [dbo].[brands]    Script Date: 22/08/2025 20:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brands](
	[brand_id] [int] NOT NULL,
	[brand_name] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 22/08/2025 20:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [int] NOT NULL,
	[category_name] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 22/08/2025 20:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [int] NOT NULL,
	[first_name] [nchar](10) NULL,
	[last_name] [nchar](10) NULL,
	[phone] [nchar](10) NULL,
	[email] [nchar](10) NULL,
	[street] [nchar](10) NULL,
	[city] [nchar](10) NULL,
	[state] [nchar](10) NULL,
	[zip_code] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 22/08/2025 20:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[order_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[list_price] [float] NOT NULL,
	[discount] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 22/08/2025 20:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[order_status] [nchar](10) NULL,
	[order_date] [nchar](10) NULL,
	[required_date] [date] NULL,
	[shipped_date] [date] NULL,
	[store_id] [int] NOT NULL,
	[staff_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 22/08/2025 20:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] NOT NULL,
	[product_name] [nchar](10) NOT NULL,
	[brand_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[model_year] [nchar](10) NULL,
	[list_price] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staffs]    Script Date: 22/08/2025 20:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staffs](
	[staff_id] [int] NOT NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[active] [bit] NOT NULL,
	[store_id] [int] NOT NULL,
	[manager_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stocks]    Script Date: 22/08/2025 20:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stocks](
	[store_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stores]    Script Date: 22/08/2025 20:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stores](
	[store_id] [int] NOT NULL,
	[store_name] [nchar](10) NULL,
	[phone] [nchar](10) NULL,
	[email] [nchar](10) NULL,
	[street] [nchar](10) NULL,
	[city] [nchar](10) NULL,
	[state] [nchar](10) NULL,
	[zip_code] [nchar](10) NULL
) ON [PRIMARY]
