/****** Object:  Table [dbo].[brands]    Script Date: 22/08/2025 20:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brands](
	[brand_id] [int] NOT NULL,
	[brand_name] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 22/08/2025 20:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [int] NOT NULL,
	[category_name] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 22/08/2025 20:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [int] NOT NULL,
	[first_name] [nchar](10) NULL,
	[last_name] [nchar](10) NULL,
	[phone] [nchar](10) NULL,
	[email] [nchar](10) NULL,
	[street] [nchar](10) NULL,
	[city] [nchar](10) NULL,
	[state] [nchar](10) NULL,
	[zip_code] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 22/08/2025 20:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[order_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[list_price] [float] NOT NULL,
	[discount] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 22/08/2025 20:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[order_status] [nchar](10) NULL,
	[order_date] [nchar](10) NULL,
	[required_date] [date] NULL,
	[shipped_date] [date] NULL,
	[store_id] [int] NOT NULL,
	[staff_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 22/08/2025 20:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] NOT NULL,
	[product_name] [nchar](10) NOT NULL,
	[brand_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[model_year] [nchar](10) NULL,
	[list_price] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staffs]    Script Date: 22/08/2025 20:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staffs](
	[staff_id] [int] NOT NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[active] [bit] NOT NULL,
	[store_id] [int] NOT NULL,
	[manager_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stocks]    Script Date: 22/08/2025 20:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stocks](
	[store_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stores]    Script Date: 22/08/2025 20:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stores](
	[store_id] [int] NOT NULL,
	[store_name] [nchar](10) NULL,
	[phone] [nchar](10) NULL,
	[email] [nchar](10) NULL,
	[street] [nchar](10) NULL,
	[city] [nchar](10) NULL,
	[state] [nchar](10) NULL,
	[zip_code] [nchar](10) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[brands] ([brand_id], [brand_name]) VALUES (1, N'brand_A   ')
INSERT [dbo].[brands] ([brand_id], [brand_name]) VALUES (2, N'brand_B   ')
GO
INSERT [dbo].[categories] ([category_id], [category_name]) VALUES (1, N'cat_A     ')
INSERT [dbo].[categories] ([category_id], [category_name]) VALUES (2, N'cat_B     ')
GO
INSERT [dbo].[customers] ([customer_id], [first_name], [last_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (1, N'client_A  ', N'client_AA ', N'000       ', N'000       ', N'000       ', N'000       ', N'000       ', N'000       ')
INSERT [dbo].[customers] ([customer_id], [first_name], [last_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (2, N'client_B  ', N'client_BB ', N'0         ', N'0         ', N'0         ', N'0         ', N'0         ', N'0         ')
GO
INSERT [dbo].[order_items] ([order_id], [item_id], [product_id], [quantity], [list_price], [discount]) VALUES (1, 1, 1, 100, 10, 0)
INSERT [dbo].[order_items] ([order_id], [item_id], [product_id], [quantity], [list_price], [discount]) VALUES (2, 2, 1, 10, 10, 0)
GO
INSERT [dbo].[orders] ([order_id], [customer_id], [order_status], [order_date], [required_date], [shipped_date], [store_id], [staff_id]) VALUES (1, 1, N'1         ', NULL, NULL, NULL, 1, 1)
INSERT [dbo].[orders] ([order_id], [customer_id], [order_status], [order_date], [required_date], [shipped_date], [store_id], [staff_id]) VALUES (2, 1, NULL, NULL, NULL, NULL, 1, 1)
GO
INSERT [dbo].[products] ([product_id], [product_name], [brand_id], [category_id], [model_year], [list_price]) VALUES (1, N'prod_A    ', 1, 1, NULL, NULL)
INSERT [dbo].[products] ([product_id], [product_name], [brand_id], [category_id], [model_year], [list_price]) VALUES (2, N'prod_B    ', 1, 1, NULL, NULL)
GO
INSERT [dbo].[staffs] ([staff_id], [first_name], [last_name], [email], [phone], [active], [store_id], [manager_id]) VALUES (1, N'staff_A', N'staff_AA', NULL, NULL, 0, 1, 1)
INSERT [dbo].[staffs] ([staff_id], [first_name], [last_name], [email], [phone], [active], [store_id], [manager_id]) VALUES (2, N'staff_B', N'staff_BB', NULL, NULL, 1, 1, 1)
INSERT [dbo].[staffs] ([staff_id], [first_name], [last_name], [email], [phone], [active], [store_id], [manager_id]) VALUES (3, N'staff_C', N'staff_CC', NULL, NULL, 0, 1, 1)
GO
INSERT [dbo].[stocks] ([store_id], [product_id], [quantity]) VALUES (1, 1, 0)
INSERT [dbo].[stocks] ([store_id], [product_id], [quantity]) VALUES (2, 1, 0)
GO
INSERT [dbo].[stores] ([store_id], [store_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (1, N'store_A   ', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[stores] ([store_id], [store_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (2, N'store_B   ', NULL, NULL, NULL, NULL, NULL, NULL)
GO
